@using DataModels;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a asp-area="" asp-controller="Home" asp-action="Index">ISOCS</a>
        <h1>@ViewData["Titel"]</h1>
        <button type="button" class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="Index">Uitloggen</button>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 justify-content-center" style="background-color: red">
                <h1>Certificaten</h1>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                </form>
                @foreach (CertificateModel certificate in ViewBag.Certificates )
                {
                <button type="button" class="btn btn-danger" asp-route-id="@certificate.Id" asp-area="" asp-controller="Home" asp-action="Index">@certificate.Name</button>
                }
            </div>

            <div class="col-sm-10">
                @RenderBody()
            </div>
        </div>
    </div>


</body>
</html>
