@using ISOCS.Models.NotificationViewModels
@model TestViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExecuteEmail</title>
</head>
<body>
    <p>@Model.Title</p>
</body>
</html>
